{% extends "phonetique/base.html" %}
{% block content %}
<div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start: Chat Room -->
          <div class="chat-room">
            <!-- Start: Historique de discussion -->
            <aside class="kiri-side">
              <div class="user-head">
                <i class="fa fa-comments-o"></i>
                <h2>Historique</h2>
              </div>
              <ul class="chat-list" >
                  {% if historiques %}
                  {% for historique in historiques %}
                  <li>
                  <div style="margin-right: 15px;">
                      <a href="{% url 'detail' historique.pk %}">
                        <i class="fa fa-rocket"></i>
                        <span>{{ historique.title }}</span>
                      </a>
                      <a href="{% url 'delete' historique.pk %}">
                        <i class="fa fa-times pull-right"></i>
                      </a>
                  </div>
                </li>
                  <br>
                  {% endfor %}
                  {% endif %}
                
              </ul>
            </aside>
            <!-- End: Historique de discussion -->

            <!-- Start: Zone de réponse -->
            <form class="d-flex" action="{% url 'text_transform' %}" method="post">
              {% csrf_token %}
              <aside class="tengah-side">
                <div class="chat-room-head" >
                  <h2 style="text-align:center;">DISCUSSION</h2>
                </div>
                <div class="group-rom">
                  <div class="container" style="height: 60vh; overflow: scroll;">
                    <!-- Ma question posée -->
                    <div>
                      {% if original_text %}
                      <div style="margin-left: 200px;margin-bottom: 10px; background-color: rgb(161, 161, 231); border-radius: 10px 10px 0 10px; padding: 5px;">
                        <h3>Moi</h3>
                        <p>{{ original_text }}</p>
                      </div>
                      {% endif %}
                    </div>

                    <!-- Réponse du texte modifié -->
                    <div>
                      {% if transformed_text %}
                      <div style="margin-right: 200px; background-color: rgb(161, 161, 168); border-radius: 12px; padding:5px;">
                        <h3>Réponse</h3>
                        <p>{{ transformed_text }}</p>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="chat-txt row">
                    <div class="col-9">
                      {{ form.text }}
                      {% if form.text.errors %}
                      <div class="text-danger">{{ form.text.errors }}</div>
                      {% endif %}
                    </div>
                    <div class="col-2 m-2">
                      <button type="submit" class="btn btn-danger">Envoyer</button>
                    </div>
                  </div>
                </footer>
              </aside>
            <!-- End: Zone de réponse -->

            <!-- Start: Choix de réponse -->
            <aside class="kanan-side" style="width: 100%; padding-right: 4px;">
              <div class="user-head">
                <a href="##" class="chat-tools btn-success"><i class="fa fa-cog"></i></a>
                <a href="##" class="chat-tools btn-key"><i class="fa fa-key"></i></a>
                <h3>Options</h3>
              </div>


              <div style="padding-left: 10px;">

                <div class="form-check mb-3">
                    {{ form.delete_e }}
                    <label for="id_delete_e" class="form-check-label">Supprimer le e</label>
                    {% if form.delete_e.errors %}
                        <div class="text-danger">{{ form.delete_e.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-check mb-3">
                    {{ form.delete_muet }}
                    <label for="id_delete_muet" class="form-check-label">Supprimer les muets a la fin</label>
                    {% if form.delete_e.errors %}
                        <div class="text-danger">{{ form.delete_muet.errors }}</div>
                    {% endif %}
                </div>
                
    
                <div class="form-check mb-3">
                    {{ form.delete_doublons }}
                    <label for="id_delete_doublons" class="form-check-label">Supprimer les doublons</label>
                    {% if form.delete_doublons.errors %}
                        <div class="text-danger">{{ form.delete_doublons.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-check mb-3">
                    {{ form.replace_s }}
                    <label for="id_replace_s" class="form-check-label">Remplacer le Son 'S' par s</label>
                    {% if form.replace_s.errors %}
                        <div class="text-danger">{{ form.replace_s.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-check mb-3">
                    {{ form.replace_z }}
                    <label for="id_replace_z" class="form-check-label">Rempler le son 'Z' par Z</label>
                    {% if form.replace_z.errors %}
                        <div class="text-danger">{{ form.replace_z.errors }}</div>
                    {% endif %}
                </div>
                
    
                <div class="form-check mb-3">
                    {{ form.replace_o }}
                    <label for="id_replace_o" class="form-check-label">Remplecer le son 'O' par O </label>
                    {% if form.replace_o.errors %}
                        <div class="text-danger">{{ form.replace_o.errors }}</div>
                    {% endif %}
                </div>
                
    
                <div class="form-check mb-3">
                    {{ form.replace_e }}
                    <label for="id_replace_e" class="form-check-label">Remplacer le son E par E</label>
                    {% if form.replace_e.errors %}
                        <div class="text-danger">{{ form.replace_e.errors }}</div>
                    {% endif %}
                </div>
                
    
                <div class="form-check mb-3">
                    {{ form.replace_en }}
                    <label for="id_replace_en" class="form-check-label">Remplacer 'en' par AN en 'em' par AM </label>
                    {% if form.replace_en.errors %}
                        <div class="text-danger">{{ form.replace_en.errors }}</div>
                    {% endif %}
                </div>

              </div>
              
            </aside>
        </form>

            <!-- End: Choix de réponse -->
          </div>
          <!-- End: Chat Room -->
        </div>
      </div>
    </div>

{%endblock%}
